.container.tes_conten{
    width: 40%;
}

.cli_avat{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testmo{
    background: var(--colot-bg-vqriant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.cli_revi{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

@media screen and (max-width: 1024px){
    .container.tes_conten{
        width: 60%;
    }
}

@media screen and (max-width: 600px){
    .container.tes_conten{
        width: var(--container-width-sm);
    }
    .cli_revi{
        width: var(--container-width-sm);
    }
}